<!doctype html>
<html lang="en">

<head>
</head>

<body class="offset-page light">
    <script id="menu-partials" type="text/x-handlebars-template">
    
    <ul class="navigation">
        {{#each menu}}
        <li>
        <a href="#">{{menus}}</a>
        </li>
        {{/menu}}
    </ul>
    </script>
    <script src="menu.js"></script>
</body>

</html>